<!-- DEVELOPER: Shrut Patel, IS117-101, Fall 2021 -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <link href="styles/index.css" rel="stylesheet">

</head>
<body>

<div class="container-fluid">
    <div class="topnav-centered">
        <div class="row">
            <nav class="navbar navbar-expand-md
                    justify-content-start
                    bg-dark navbar-dark
                    col-12">

                <!-- Brand -->
                <a class="navbar-brand" href="index.html"> <h2>Everything Soccer </h2></a>

                <!-- Responsive Button for the smaller menu -->
                <button class="navbar-toggler" type="button"
                        data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav">

                        <!-- Links -->
                        <li class="nav-item">
                            <a class="nav-link" href="index.html">Home</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop"
                               data-toggle="dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Teams
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="liverpool.html">Liverpool</a>
                                <a class="dropdown-item" href="mancity.html">Man City</a>
                                <a class="dropdown-item" href="chelsea.html">Chelsea</a>
                                <a class="dropdown-item" href="manunited.html">Man United</a>
                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="feat.html" id="navbardrop"
                               data-toggle="dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Featured
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="head.html">Head-on-head</a>
                            </div>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="contact.html">Subscribe</a>
                        </li>
                    </ul>
                </div>
            </nav>


</div>


<div class="container p-3 my-3 bg-dark text-white">
  <h1><center>Brief History</center></h1>

  <img id = "logo" src="images/ball2.jpg" alt = "Soccer ball" align="left" width = "130" height = "130"><p>Football (or soccer as the game is called in some parts of the world) has a long history. Football in its current form arose in England in the middle of the 19th century. But alternative versions of the game existed much earlier and are a part of the football history.</p>


  <br>

  <p>The first known examples of a team game involving a ball, which was made out of a rock, occurred in old Mesoamerican cultures for over 3,000 years ago. It was by the Aztecs called Tchatali, although various versions of the game were spread over large regions. In some ritual occasions, the ball would symbolize the sun and the captain of the losing team would be sacrificed to the gods. A unique feature of the Mesoamerican ball game versions was a bouncing ball made of rubber – no other early culture had access to rubber.</p>

  <br>

  <p>The first known ball game which also involved kicking took place In China in the 3rd and 2nd century BC under the name cuju. Cuju was played with a round ball (stitched leather with fur or feathers inside) on an area of a square. A modified form of this game later spread to Japan and was by the name of kemari practiced under ceremonial forms.</p>

  <br>

</div>
<div class="container">
        <div class="row">
            <div class="col-lg-10 mb-3">
                <div class="card">
                    <img class="card-img-top" src="images/liverpool.jpg" alt="Mo Salah scoring a goal" style="width:100%">

                    <div class="card-body">
                        <h5><b>Recent Liverpool victory </b></h5>
                        <p>Liverpool vs Manchester United</p>
                        <a href ="liverpool.html" class = "btn btn-outline-dark"> Find out more</a>

                    </div>
                </div>
            </div>

            <div class="col-lg-10 mb-3">
                <div class="card">
                    <video controls width="365" height="250" autoplay muted>
                      <source src="images/video.mp4" type="video/mp4">
                      Your browser does not support the video tag.
                    </video>
                    <div class="card-body">
                        <h5><b>Soccer highlights </b></h5>
                        <p>How it came about...</p>

                        <a href="#" class="btn btn-outline-dark">
                            Find out more
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>
    <br>

<!--
<div class ="container">
    <div class = "row" id = "Highlights">
        <div class = "col">
            <h3 class = "text-center"> Recent Highlights Below! </h3>
        </div>
    </div>

<div class = "container">
    <div class ="card-deck">

        <div class = "card">
            <img class = "card-img-top" src = "trial.jpg" alt = "img">
            <div class = "card-body">
                <h5 class = "card-title"> Intro</h5>
                <p class = "card-text"> Took </p>
                <a href ="#" class = "btn btn-outline-dark"> Read more</a>
            </div>
        </div>
-->

 <footer class="footer page-footer font-small ">
     <div class="container">
        <div class="row">
            <span class="text-muted">&copy; <b>Shrut Patel, 2021 |  Terms Of Use  |<b></span>
        </div>
     </div>
  </footer>
</div>


    <!-- Javascript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous">
</script>

</body>
</html>