<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>

        <title>Project 1 - Home</title>
    {% endblock %}

</head>
<body>
<div class="container-fluid">
    <div class="topnav-centered">
        <div class="row">
            <nav class="navbar navbar-expand-md
                    justify-content-start
                    bg-dark navbar-dark
                    col-12">

                <!-- Brand -->
                <a class="navbar-brand" href="index.html"> <h2>Project 1 - Shrut</h2></a>

                <!-- Responsive Button for the smaller menu -->
                <button class="navbar-toggler" type="button"
                        data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav">

                        <!-- Links -->
                        <li class="nav-item">
                            <a class="nav-link" href="index.html">Home</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop"
                               data-toggle="dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Technology
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="gitinfo.html">Git</a>
                                <a class="dropdown-item" href="content/dockerinfo.html">Docker</a>
                                <a class="dropdown-item" href="content/pfinfo.html">Python/Flask</a>
                                <a class="dropdown-item" href="content/cicdinfo.html">CI/CD</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="content/contact.html">Contact</a>
                        </li>
                    </ul>
                </div>
            </nav>

<section class="carousel">
  <div class="slides">
    <div class="slides-item slide-1" id="slide-1"><img src="../static/images/git2.jpg" alt="GIT"></div>
    <div class="slides-item slide-2" id="slide-2">2</div>
    <div class="slides-item slide-3" id="slide-3">3</div>
    <div class="slides-item slide-4" id="slide-4">4</div>
  </div>
  <div class="carousel__nav">
    <a class="slider-nav" href="#slide-1">1</a>
    <a class="slider-nav" href="#slide-2">2</a>
    <a class="slider-nav" href="#slide-3">3</a>
    <a class="slider-nav" href="#slide-4">4</a>
  </div>
</section>

            <p><center><strong>Hi my Name is Shrut Patel. I am majoring in Business Information Systems
            and I have a minor in Applied Statistics. IS 218 teaches a lot about how to use GIT,
            Docker, and the Python/Flask containers! </strong></center></p>

<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
-->
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</div>
    </div>
</div>
</body>

</html>
